:root {
  --light-color-foreground: hsl(0, 0%, 7%);
  --light-color-background: hsl(40, 100%, 99%);
  --dark-color-foreground: hsl(0, 0%, 100%);
  --dark-color-background: hsl(210, 30%, 8%);
  --color-backdrop: hsl(220deg 5% 40% / 0.8);
  --font-body: 'Recursive', -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto, Arial, sans-serif, system-ui,
    'Apple Color Emoji', 'Segoe UI Emoji';
  /* Monospace: Sans (natural-width) or Mono (fixed-width) */
  --mono: 'MONO' 0;
  /* Casual: Linear to Casual */
  --casl: 'CASL' 0;
  /* Weight: Light to ExtraBlack; usually set with `font-weight` */
  --wght: 'wght' 400;
  /* Slant: 0 to -15 degrees, auto cursive at -14 */
  --slnt: 'slnt' 0;
  /* Cursive: always roman, auto substitution, or always cursive */
  --crsv: 'CRSV' 0.5;
}

html,
body {
  padding: 0;
  background-color: var(--light-color-background);
  color: var(--light-color-foreground);
}

html.dark,
html.dark body {
  background-color: var(--dark-color-background);
  color: var(--dark-color-foreground);
}

body {
  font-family: var(--font-body);
  font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
}
