@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-recursive-casual {
    --casl: 'CASL' 1;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-semi-casual {
    --casl: 'CASL' 0.5;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-light {
    --wght: 'wght' 300;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-normal {
    --wght: 'wght' 400;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-medium {
    --wght: 'wght' 500;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-semibold {
    --wght: 'wght' 600;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  strong,
  .font-recursive-bold {
    --wght: 'wght' 700;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-extrabold {
    --wght: 'wght' 800;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-slant-base {
    --crsv: 'CRSV' 0.5;
    --slnt: 'slnt' 0;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  .font-recursive-slant-max {
    --crsv: 'CRSV' 0;
    --slnt: 'slnt' -15;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }

  code {
    --mono: 'MONO' 1;
    font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--crsv);
  }
}
